<div class="top-row text-center">
    <h1>Book a space</h1>
</div>

<div>
  <p class="subtitle">Browse our selection of rooms</p>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
    <div>
      <form action="/search">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
</div>

<div class="container-md">
  <ul>
  <% @rooms.each do |property| %>
    <div class="row room-row" id="<%= property.id %>">
      <span class="room-info col-md-10">
        <p class="room-name"><%= property.name %></p>
        <p class="room-description">
          <%= property.description.length > 50 ? "#{property.description[0, 100]}..." : property.description %>
        </p>
      </span>
      <span class="room-redirect col-md-2">
        <a href="/rooms/<%= property.id %>">
          <img class="redirect-icon" src="images/redirect-arrow.png">
        </a>
      </span>
    </div>
  <% end %>
  </ul>
</div>
