<body>
    <div><h1>Please fill the form to add new room:</h1>
    </div>
    <br>
<div>
<form action="/rooms" method="post">
    <p>Enter the room's name:</p>
    <textarea cols="20" name="name" rows="5" placeholder="Write Here"></textarea><br/>
    <p>Enter the room's description:</p>
    <textarea cols="20" name="description" rows="5" placeholder="Write Here"></textarea><br/>
    <p>Enter the room's rate per night:</p>
    <input type="text" name="rate" placeholder="100">
    <br><br>
    <p>Enter the room's availability start date:</p>
    <input type="date" name="start_date">
    <br><br>
    <p>Enter the room's availability end date:</p>
    <input type="date" name="end_date">
    <br><br>
    <input type="submit" name="submit" value="Add room">
</form>
</body>