<div class="container-md">
  <ul>
  <% @rooms.each do |property| %>
    <div class="row room-row" id="<%= property.id %>">
      <span class="room-info col-md-10">
        <p class="room-name"><%= property.name %></p>
        <p class="room-description">
          <%= property.description.length > 50 ? "#{property.description[0, 50]}..." : property.description %>
        </p>
      </span>
      <span class="room-redirect col-md-2">
        <a href="/rooms/<%= property.id %>" target="_blank">
          <img class="redirect-icon" src="images/redirect-arrow.png">
        </a>
      </span>
    </div>
  <% end %>
  </ul>
</div>