<div align="right">
    <form  action="/" method="get">
        <button class="button" type="submit">Home</button>
    </form> 
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in pulvinar urna, ac bibendum nunc.
        Mauris convallis eget risus et tempus. Sed viverra imperdiet nisi et consectetur.
        Suspendisse suscipit nulla quis justo iaculis, ut mattis risus facilisis.
        Proin et blandit massa. Maecenas dictum mauris id nulla tempor commodo.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Maecenas cursus pulvinar porttitor. Pellentesque bibendum ante lacus, sed suscipit erat imperdiet at.
        Quisque ante mauris, interdum sit amet dui at, egestas varius mauris.
        Aliquam tempor tempor magna, at fringilla neque sollicitudin id.
        Cras nisi quam, feugiat sit amet lorem elementum, consequat interdum quam.
        Duis sit amet euismod nibh. Aliquam tincidunt, magna id ullamcorper dictum, massa sapien aliquet turpis, mollis maximus enim nibh sit amet nisl.
        Suspendisse at consequat eros. Nunc non magna ut diam placerat elementum vel id risus.

        Etiam quam urna, euismod ac pretium a, egestas ac mi. Nam quis neque commodo, ullamcorper sem eu, facilisis ex.
        Nullam ex nisi, luctus vel justo sit amet, aliquam imperdiet nisi.
        Etiam semper quam fringilla lectus finibus, eu cursus ligula mattis.
        Integer imperdiet pulvinar tellus, non faucibus lacus blandit sit amet.
        Curabitur ac mi sit amet lorem tempus volutpat sit amet eget arcu.
        Phasellus ac tincidunt elit.
    </p>
</div>