  <div align="center">
    <h1>Welcome to MakersBnB!</h1>
    <form  action="/about" method="get">
      <button class="button" type="submit">About</button>
    </form> 
    <form  action="/users/new" method="get">
      <button class="button" type="submit">Sign Up</button>
    </form>
  </div>

 