  <div align="center">
    <h1>Welcome to MakersBnB!</h1>
    <form  action="/about" method="get">
      <button class="button" type="submit">About</button>
    </form> 
    <form  action="/rooms" method="get">
      <button class="button" type="submit">View Rooms</button>
    </form>
  </div>

 