/*begin-commonstyles library*//*!
 * froala_editor v3.2.3 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2020 Froala Labs
 */



  



@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}



  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes rotateInDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

@-webkit-keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInUpRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Zoom */
.u-effect-zoom .u-over-slide {
  transition: transform 500ms ease;
  transform: scale(0, 0);
}
.u-effect-zoom:hover .u-over-slide,
.u-effect-zoom.u-effect-active .u-over-slide {
  transform: scale(1, 1);
}
.u-effect-hover-zoom .u-back-slide,
.u-effect-hover-zoom .u-background-effect-image {
  transition: transform 500ms ease;
  transform: scale(1);
}
.u-effect-hover-zoom:hover .u-back-slide,
.u-effect-hover-zoom:hover .u-background-effect-image,
.u-effect-hover-zoom.u-effect-active .u-back-slide,
.u-effect-hover-zoom.u-effect-active .u-background-effect-image {
  transform: scale(1.1);
}
.u-effect-hover-zoomOut .u-back-slide,
.u-effect-hover-zoomOut .u-background-effect-image {
  transition: transform 500ms ease;
  transform: scale(1.1);
}
.u-effect-hover-zoomOut:hover .u-back-slide,
.u-effect-hover-zoomOut:hover .u-background-effect-image,
.u-effect-hover-zoomOut.u-effect-active .u-back-slide,
.u-effect-hover-zoomOut.u-effect-active .u-background-effect-image {
  transform: scale(1);
}
.u-effect-hover-liftUp {
  transition: transform 500ms ease;
  transform: scale(1);
}
.u-effect-hover-liftUp:hover,
.u-effect-hover-liftUp.u-effect-active {
  transform: scale(1.03);
  z-index: 1;
}
.u-effect-zoom-rotate .u-over-slide {
  transition: transform 500ms ease;
  transform: rotate(0deg) scale(0, 0);
}
.u-effect-zoom-rotate:hover .u-over-slide,
.u-effect-zoom-rotate.u-effect-active .u-over-slide {
  transform: rotate(360deg) scale(1, 1);
}
.u-effect-zoom-rotateX .u-over-slide {
  transition: transform 500ms ease;
  transform: rotateX(0deg) scale(0, 0);
}
.u-effect-zoom-rotateX:hover .u-over-slide,
.u-effect-zoom-rotateX.u-effect-active .u-over-slide {
  transform: rotateX(360deg) scale(1, 1);
}
.u-effect-zoom-rotateY .u-over-slide {
  transition: transform 500ms ease;
  transform: rotateY(0deg) scale(0, 0);
}
.u-effect-zoom-rotateY:hover .u-over-slide,
.u-effect-zoom-rotateY.u-effect-active .u-over-slide {
  transform: rotateY(360deg) scale(1, 1);
}
.u-btn {
  /*display: inline-block;*/
  display: table;
  /*TODO maye need another solution for negative marin*/
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
}
.u-btn:focus,
.u-btn:active:focus,
.u-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}
.u-btn:active,
.u-btn.active {
  outline: 0;
  background-image: none;
}
.u-btn.disabled,
.u-btn[disabled] {
  opacity: 0.6;
}
.u-btn-circle {
  border-radius: 50%;
}
.u-btn-round {
  border-radius: 4px;
}
.u-btn-rectangle {
  border-radius: 0 !important;
}
.u-text a,
.u-post-content a,
.u-tab-item a,
.u-nav-item a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
  color: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
  text-decoration: none;
}
.u-link,
a {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.u-link {
  display: table;
  border-style: solid;
  border-bottom-width: 0;
  white-space: nowrap;
  align-self: flex-start;
}
.u-form-vertical.u-form-spacing-40 {
  margin-left: -40px;
  width: calc(100% +  40px);
}
.u-form-vertical.u-form-spacing-40 .u-form-group {
  margin-bottom: 40px;
  padding-left: 40px;
}
.u-form-vertical.u-form-spacing-39 {
  margin-left: -39px;
  width: calc(100% +  39px);
}
.u-form-vertical.u-form-spacing-39 .u-form-group {
  margin-bottom: 39px;
  padding-left: 39px;
}
.u-form-vertical.u-form-spacing-38 {
  margin-left: -38px;
  width: calc(100% +  38px);
}
.u-form-vertical.u-form-spacing-38 .u-form-group {
  margin-bottom: 38px;
  padding-left: 38px;
}
.u-form-vertical.u-form-spacing-37 {
  margin-left: -37px;
  width: calc(100% +  37px);
}
.u-form-vertical.u-form-spacing-37 .u-form-group {
  margin-bottom: 37px;
  padding-left: 37px;
}
.u-form-vertical.u-form-spacing-36 {
  margin-left: -36px;
  width: calc(100% +  36px);
}
.u-form-vertical.u-form-spacing-36 .u-form-group {
  margin-bottom: 36px;
  padding-left: 36px;
}
.u-form-vertical.u-form-spacing-35 {
  margin-left: -35px;
  width: calc(100% +  35px);
}

.u-form div.u-form-send-error,
.u-form div.u-form-send-success {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 0px 20px 0px;
  border: none;
}
.u-form .u-form-group.u-form-checkbox,
.u-form .u-form-group.u-form-agree {
  display: flex;
}
.u-form .u-form-group.u-form-checkbox input[type="checkbox"],
.u-form .u-form-group.u-form-agree input[type="checkbox"] {
  float: left;
  flex-shrink: 0;
}
.u-form .u-form-group.u-form-checkbox label.u-label,
.u-form .u-form-group.u-form-agree label.u-label {
  margin-left: 5px;
}
.u-form .u-form-group.u-form-checkbox label.u-label a,
.u-form .u-form-group.u-form-agree label.u-label a {
  margin-top: 0;
  margin-bottom: 0;
}
.u-form .u-form-horizontal .u-form-group.u-form-checkbox,
.u-form .u-form-horizontal .u-form-group.u-form-agree {
  align-items: center;
}
.u-form .u-form-horizontal input[type="checkbox"] {
  width: 13px;
  max-width: 13px;
  margin-bottom: 3px;
  min-width: 13px;
}
.u-form .u-form-vertical .u-form-group.u-form-checkbox,
.u-form .u-form-vertical .u-form-group.u-form-agree {
  align-items: baseline;
}
.u-form-send-message {
  z-index: 1;
}
.u-form-send-error {
  background: #F95D51;
}
.u-form-send-success {
  background: #62C584;
}
.u-form {
  position: relative;
  font-size: 1rem;
  height: auto !important;
}
.u-form-group {
  text-align: start;
}
.u-btn-submit {
  display: inline-block;
}
.u-label {
  font-weight: normal;
}
.u-form ::placeholder {
  opacity: 0.5;
}
.u-form :-ms-input-placeholder {
  opacity: 1;
}
.u-form-horizontal .u-form-submit {
  margin-right: 0 !important;
}
.u-form-vertical .u-form-submit {
  margin-bottom: 0 !important;
}
@media (max-width: 767px) {
  .u-form-horizontal {
    flex-direction: column;
    align-items: stretch;
    margin: -0.5rem !important;
  }
  .u-form-horizontal .u-form-group {
    border: 0.5rem solid transparent !important;
    margin-right: 0 !important;
  }
  .u-form-horizontal label {
    display: none;
  }
  .u-form-horizontal .u-btn-submit {
    flex-grow: 1;
  }
}
.u-input-round {
  border-radius: 4px;
}
.u-input-rectangle {
  border-radius: 0;
}
.u-form-select-wrapper {
  position: relative;
}
.u-form-select-wrapper select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.u-form-select-wrapper .u-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
}
.u-form-select-wrapper select[size] ~ .u-caret {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  height: auto;
  min-height: 100%;
}
body,
aside,
.u-sidebar-block,
section,
header,
footer {
  position: relative;
}
section > *,
header > *,
footer > *,
.u-sheet > * {
  position: relative;
}
base {
  display: none;
}
a {
  color: #259bca;
  text-decoration: none;
}
a:hover {
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-sheet-left {
  left: calc((100% - 1140px) / 2);
}
.u-sheet-right {
  right: calc((100% - 1140px) / 2);
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-textlink,
.u-textlink:hover,
.u-textlink:focus,
.u-textlink:active {
  color: inherit;
}
:not(.u-effect-fade) > .u-opacity-100,
.u-opacity-100:before {
  opacity: 1;
}
:not(.u-effect-fade) > .u-opacity-95,
.u-opacity-95:before {
  opacity: 0.95;
}
:not(.u-effect-fade) > .u-opacity-90,
.u-opacity-90:before {
  opacity: 0.9;
}
:not(.u-effect-fade) > .u-opacity-85,
.u-opacity-85:before {
  opacity: 0.85;
}
:not(.u-effect-fade) > .u-opacity-80,
.u-opacity-80:before {
  opacity: 0.8;
}
:not(.u-effect-fade) > .u-opacity-75,
.u-opacity-75:before {
  opacity: 0.75;
}
:not(.u-effect-fade) > .u-opacity-70,
.u-opacity-70:before {
  opacity: 0.7;
}
:not(.u-effect-fade) > .u-opacity-65,
.u-opacity-65:before {
  opacity: 0.65;
}
:not(.u-effect-fade) > .u-opacity-60,
.u-opacity-60:before {
  opacity: 0.6;
}
:not(.u-effect-fade) > .u-opacity-55,
.u-opacity-55:before {
  opacity: 0.55;
}
:not(.u-effect-fade) > .u-opacity-50,
.u-opacity-50:before {
  opacity: 0.5;
}
:not(.u-effect-fade) > .u-opacity-45,
.u-opacity-45:before {
  opacity: 0.45;
}
:not(.u-effect-fade) > .u-opacity-40,
.u-opacity-40:before {
  opacity: 0.4;
}
:not(.u-effect-fade) > .u-opacity-35,
.u-opacity-35:before {
  opacity: 0.35;
}
:not(.u-effect-fade) > .u-opacity-30,
.u-opacity-30:before {
  opacity: 0.3;
}
:not(.u-effect-fade) > .u-opacity-25,
.u-opacity-25:before {
  opacity: 0.25;
}
:not(.u-effect-fade) > .u-opacity-20,
.u-opacity-20:before {
  opacity: 0.2;
}
:not(.u-effect-fade) > .u-opacity-15,
.u-opacity-15:before {
  opacity: 0.15;
}
:not(.u-effect-fade) > .u-opacity-10,
.u-opacity-10:before {
  opacity: 0.1;
}
:not(.u-effect-fade) > .u-opacity-5,
.u-opacity-5:before {
  opacity: 0.05;
}
:not(.u-effect-fade) > .u-opacity-0,
.u-opacity-0:before {
  opacity: 0;
}
.u-text.u-spacing-100 li {
  margin-bottom: 100px;
}
.u-text.u-indent-100,
.u-text.u-indent-100 ul,
.u-text.u-indent-100 ol {
  padding-left: 120px;
}
.u-spacing-100.u-price-wrapper > div + div,
.u-spacing-100 .u-social-url + .u-social-url {
  margin-left: 100px;
}
.u-spacing-100.u-icon,
.u-spacing-100.u-search-icon,
.u-spacing-100.u-gallery-nav,
.u-spacing-100.u-carousel-control {
  padding: 100px;
}
blockquote.u-text.u-indent-100 {
  padding-left: 100px;
}
.u-text.u-spacing-99 li {
  margin-bottom: 99px;
}
.u-text.u-indent-99,
.u-text.u-indent-99 ul,
.u-text.u-indent-99 ol {
  padding-left: 119px;
}
.u-spacing-99.u-price-wrapper > div + div,
.u-spacing-99 .u-social-url + .u-social-url {
  margin-left: 99px;
}
.u-spacing-99.u-icon,
.u-spacing-99.u-search-icon,
.u-spacing-99.u-gallery-nav,
.u-spacing-99.u-carousel-control {
  padding: 99px;
}
blockquote.u-text.u-indent-99 {
  padding-left: 99px;
}
.u-text.u-spacing-98 li {
  margin-bottom: 98px;
}
.u-text.u-indent-98,
.u-text.u-indent-98 ul,
.u-text.u-indent-98 ol {
  padding-left: 118px;
}
.u-spacing-98.u-price-wrapper > div + div,
.u-spacing-98 .u-social-url + .u-social-url {
  margin-left: 98px;
}
.u-spacing-98.u-icon,
.u-spacing-98.u-search-icon,
.u-spacing-98.u-gallery-nav,
.u-spacing-98.u-carousel-control {
  padding: 98px;
}
blockquote.u-text.u-indent-98 {
  padding-left: 98px;
}
.u-text.u-spacing-97 li {
  margin-bottom: 97px;
}
.u-text.u-indent-97,
.u-text.u-indent-97 ul,
.u-text.u-indent-97 ol {
  padding-left: 117px;
}
.u-spacing-97.u-price-wrapper > div + div,
.u-spacing-97 .u-social-url + .u-social-url {
  margin-left: 97px;
}
.u-spacing-97.u-icon,
.u-spacing-97.u-search-icon,
.u-spacing-97.u-gallery-nav,
.u-spacing-97.u-carousel-control {
  padding: 97px;
}
blockquote.u-text.u-indent-97 {
  padding-left: 97px;
}
.u-text.u-spacing-96 li {
  margin-bottom: 96px;
}
.u-text.u-indent-96,
.u-text.u-indent-96 ul,
.u-text.u-indent-96 ol {
  padding-left: 116px;
}
.u-spacing-96.u-price-wrapper > div + div,
.u-spacing-96 .u-social-url + .u-social-url {
  margin-left: 96px;
}
.u-spacing-96.u-icon,
.u-spacing-96.u-search-icon,
.u-spacing-96.u-gallery-nav,
.u-spacing-96.u-carousel-control {
  padding: 96px;
}
blockquote.u-text.u-indent-96 {
  padding-left: 96px;
}
.u-text.u-spacing-95 li {
  margin-bottom: 95px;
}
.u-text.u-indent-95,
.u-text.u-indent-95 ul,
.u-text.u-indent-95 ol {
  padding-left: 115px;
}

.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-round {
  border-radius: 10px;
}
.u-image-square {
  border-radius: 0;
}
[data-post-link],
[data-href] {
  cursor: pointer;
}
.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .u-sheet {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: 940px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: 340px;
  }
}
.u-sheet .u-sheet {
  width: 100%;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}
.u-inner-container-layout,
.u-container-layout > * {
  position: relative;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .u-expanded-height-xs {
    position: absolute !important;
    height: 100% !important;
    top: 0 !important;
  }
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .u-valign-middle-xl,
  .u-valign-top-xl,
  .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg,
  .u-valign-top-lg,
  .u-valign-bottom-lg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md,
  .u-valign-top-md,
  .u-valign-bottom-md {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm,
  .u-valign-top-sm,
  .u-valign-bottom-sm {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs,
  .u-valign-top-xs,
  .u-valign-bottom-xs {
    display: flex;
    flex-direction: column;
  }
}
.u-valign-middle > *,
.u-valign-top > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}
.u-valign-middle {
  justify-content: center;
}
@media (min-width: 1200px) {
  .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg {
    justify-content: center;
  }
}

.u-block:not(:last-child).u-block-separator:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
}
.u-block:not(:last-child).u-block-separator:after {
  border-bottom-style: solid;
  transform: translate(0, 50%);
}
.u-group .u-container-layout > * {
  position: relative;
}
.u-group {
  display: flex;
}
.u-line.u-line-horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.u-line.u-line-vertical {
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
}
.u-shape-svg {
  border: none !important;
  color: transparent;
}
.u-shape-svg .u-svg-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
[class*="u-border-"]:not(.u-shape-svg) {
  stroke: none;
}
.u-shape-top {
  border-top-style: none !important;
}
.u-shape-right {
  border-right-style: none !important;
}
.u-shape-bottom {
  border-bottom-style: none !important;
}
.u-shape-left {
  border-left-style: none !important;
}
.u-shape-circle,
.u-shape-circle:before,
.u-shape-circle > .u-container-layout {
  border-radius: 50%;
}
.u-shape-round,
.u-shape-round:before,
.u-shape-round > .u-container-layout {
  border-radius: 10px;
}
.u-shape-square,
.u-shape-square:before,
.u-shape-square > .u-container-layout {
  border-radius: 0;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive video,
.embed-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.u-map .embed-responsive {
  width: 100%;
  height: 100%;
}
.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}
.u-svg-link {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.u-svg-content {
  width: 0;
  height: 0;
}
.u-icon-circle,
.u-icon-circle img {
  border-radius: 50%;
}
.u-icon-rounded,
.u-icon-rounded img {
  border-radius: 10px;
}
.u-file-icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.u-back-to-top {
  position: fixed;
  z-index: 100000;
  display: none;
}
.u-post-details {
  display: flex;
}
.u-post-details .u-blog-post {
  display: flex;
  flex: 1;
}
.u-metadata {
  display: table;
}
.u-metadata .u-meta-icon {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
.u-metadata .u-meta-icon:first-child {
  margin-left: 0;
}
.u-metadata .u-meta-icon + .u-meta-icon:before {
  content: '|';
  display: inline-block;
  margin-right: 5px;
}

.u-enable-responsive .u-spacing-2 > li + li {
  margin: 2px 0 0 0 !important;
}
.u-spacing-1:not(.u-text) > li:not(:last-child) {
  margin-right: 1px;
}
.u-spacing-1 > .u-accordion-item + .u-accordion-item {
  margin-top: 1px;
}
.u-h-spacing-1 .u-nav-link {
  padding-left: 1px;
  padding-right: 1px;
}
.u-v-spacing-1 .u-nav-link {
  padding-top: 1px;
  padding-bottom: 1px;
}
.u-enable-responsive .u-spacing-1 > li + li {
  margin: 1px 0 0 0 !important;
}
.u-spacing-0:not(.u-text) > li:not(:last-child) {
  margin-right: 0px;
}
.u-spacing-0 > .u-accordion-item + .u-accordion-item {
  margin-top: 0px;
}
.u-h-spacing-0 .u-nav-link {
  padding-left: 0px;
  padding-right: 0px;
}
.u-v-spacing-0 .u-nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}
.u-enable-responsive .u-spacing-0 > li + li {
  margin: 0px 0 0 0 !important;
}
.u-enable-responsive .u-popupmenu-items > li:first-child {
  margin: 0 !important;
}
.u-menu-one-level .u-nav-popup {
  display: none;
}


.u-font-roboto.u-custom-font {
  font-family: Roboto, sans-serif !important;
}
.u-font-open-sans.u-custom-font {
  font-family: 'Open Sans', sans-serif !important;
}
.u-font-lato.u-custom-font {
  font-family: Lato, sans-serif !important;
}
.u-font-montserrat.u-custom-font {
  font-family: Montserrat, sans-serif !important;
}
.u-font-roboto-condensed.u-custom-font {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.u-font-source-sans-pro.u-custom-font {
  font-family: 'Source Sans Pro', sans-serif !important;
}
.u-font-oswald.u-custom-font {
  font-family: Oswald, sans-serif !important;
}
.u-font-raleway.u-custom-font {
  font-family: Raleway, sans-serif !important;
}
.u-font-pt-sans.u-custom-font {
  font-family: 'PT Sans', sans-serif !important;
}
.u-font-ubuntu.u-custom-font {
  font-family: Ubuntu, sans-serif !important;
}
.u-font-titillium-web.u-custom-font {
  font-family: 'Titillium Web', sans-serif !important;
}
.u-font-merriweather.u-custom-font {
  font-family: Merriweather, serif !important;
}
.u-font-roboto-slab.u-custom-font {
  font-family: 'Roboto Slab', serif !important;
}
.u-font-playfair-display.u-custom-font {
  font-family: 'Playfair Display', serif !important;
}
.u-font-lobster.u-custom-font {
  font-family: Lobster, display !important;
}
.u-rectangle {
  border-radius: 0;
}
.u-circle {
  border-radius: 50%;
}
.u-btn.u-circle {
  border-radius: 100px;
}
.u-layout-cell,
.u-container-style.u-opacity,
.u-container-layout.u-opacity,
.u-group.u-opacity {
  background-color: transparent !important;
}
.u-layout-cell:before,
.u-container-style.u-opacity:before,
.u-container-layout.u-opacity:before,
.u-group.u-opacity:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
:not(.u-effect-fade) > .u-layout-cell,
:not(.u-effect-fade) > .u-container-style.u-opacity,
:not(.u-effect-fade) > .u-container-layout.u-opacity,
:not(.u-effect-fade) > .u-group.u-opacity {
  opacity: 1 !important;
}
[class*="u-custom-color-"].u-body,
[class*="u-palette-"].u-body,
[class*="u-gray-"].u-body,
.u-white.u-body,
.u-black.u-body {
  background-image: none;
}
.u-button-style[class*="u-custom-color-"],
.u-button-style[class*="u-palette-"],
.u-button-style[class*="u-gray-"],
.u-button-style.u-white,
.u-button-style.u-black {
  border-width: 0;
}
.u-search-left .u-search-icon[class*="u-custom-color-"],
.u-search-left .u-search-icon[class*="u-palette-"],
.u-search-left .u-search-icon[class*="u-gray-"],
.u-search-left .u-search-icon.u-white,
.u-search-left .u-search-icon.u-black {
  margin-right: 0.8em;
}
.u-search-right .u-search-icon[class*="u-custom-color-"],
.u-search-right .u-search-icon[class*="u-palette-"],
.u-search-right .u-search-icon[class*="u-gray-"],
.u-search-right .u-search-icon.u-white,
.u-search-right .u-search-icon.u-black {
  margin-left: 0.8em;
}
.u-social-icons {
  display: flex;
}
.u-social-url {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-social-icons .u-icon {
  display: flex;
  height: 100% !important;
}
.u-social-icons .u-social-url,
.u-social-icons .u-social-url:hover {
  color: currentColor;
}
.u-social-icons a {
  height: 100%;
  display: inline-block;
  flex: 1;
}
blockquote {
  padding: 10px 20px;
  padding-left: 0;
  margin: 0 0 20px;
  border-left-width: 0;
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-style: solid;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 20px;
  color: #eeeeee;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014   \A0';
}
.u-search {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.u-search.u-search-left {
  flex-direction: row;
}
.u-search.u-search-right {
  flex-direction: row-reverse;
}
.u-search button {
  cursor: pointer;
  position: relative;
  flex: 0;
  background: none;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.u-search button span {
  display: block;
  height: 1em;
  width: 1em;
  line-height: 1em;
}
.u-search input {
  flex: 1;
  position: relative;
  border: 0;
  margin: 0;
  min-width: 0;
  outline: 0;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
}
.u-search-left.u-search input {
  padding-right: 0.8em;
}
.u-search-right.u-search input {
  padding-left: 0.8em;
}
.u-search input::placeholder {
  font-family: inherit;
}
.u-search-icon {
  box-sizing: content-box;
}
.u-search-left .u-search-icon[class*="u-border-"] {
  margin-right: 0.8em;
}
.u-search-right .u-search-icon[class*="u-border-"] {
  margin-left: 0.8em;
}
.u-search-icon .u-svg-link {
  vertical-align: top;
}
.u-pagination {
  margin-bottom: 0px;
  list-style: none;
  padding: 0;
  display: table;
}
.u-pagination .u-pagination-item {
  display: inline-block;
}
.u-pagination .u-pagination-item.disabled {
  opacity: 0.5;
}
.u-pagination .u-pagination-item.disabled,
.u-pagination .u-pagination-item.u-pagination-separator {
  pointer-events: none;
}
.u-pagination-left .u-pagination {
  margin-left: 0 !important;
  margin-right: auto !important;
}
.u-pagination-center .u-pagination {
  margin-left: auto !important;
  margin-right: auto !important;
}
.u-pagination-right .u-pagination {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.u-pagination.u-spacing-0 .u-nav-item:not(:last-child):not(.active) .u-nav-link {
  border-right-width: 0 !important;
}
.u-pagination.u-spacing-0 .u-nav-item.active + .u-nav-item .u-nav-link {
  border-left-width: 0 !important;
}

.backstage {
  animation-play-state: paused;
  visibility: hidden;
}
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
/* Fix zoomIn animation for Internet Explorer */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
  }
}

.u-cookies-consent.show {
  display: block;
}
.u-gallery-item {
  position: relative;
  overflow: hidden;
}
.u-gallery-item .u-back-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.u-back-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.u-show-text-none .u-over-slide {
  display: none;
}
.u-over-slide .u-gallery-heading,
.u-over-slide .u-gallery-text {
  margin-top: 0;
  margin-bottom: 0;
}
.u-gallery.u-layout-carousel .u-carousel-indicators li {
  opacity: 0.5;
}
.u-gallery.u-layout-carousel .u-carousel-indicators li.u-active {
  opacity: 1;
}
.u-no-transition *,
.u-no-transition *:before,
.u-no-transition *:after {
  transition: none !important;
}
.u-layout-carousel.u-gallery.u-product-zoom .u-back-slide,
.u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide {
  background-size: contain;
  background-position: 50% 50%;
  cursor: zoom-in;
  overflow: hidden;
}
.u-layout-carousel.u-gallery.u-product-zoom .u-back-slide.hover img,
.u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide.hover img {
  opacity: 1;
}
.u-layout-carousel.u-gallery.u-product-zoom .u-back-slide img,
.u-layout-thumbnails.u-gallery.u-product-zoom .u-back-slide img {
  min-width: 120%;
  min-height: 120%;
  height: auto;
  width: auto;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}
.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
  display: flex;
  position: relative;
}
.u-list-control {
  display: flex;
  position: relative;
}
.u-list:not(.u-repeater),
.u-blog:not(.u-repeater),
.u-products:not(.u-repeater) {
  display: flex;
  flex-direction: column;
}
.u-list:not(.u-repeater) .u-repeater,
.u-blog:not(.u-repeater) .u-repeater,
.u-products:not(.u-repeater) .u-repeater {
  flex: 1;
}
.u-list:not(.u-repeater) .u-list-control,
.u-blog:not(.u-repeater) .u-list-control,
.u-products:not(.u-repeater) .u-list-control {
  flex: 0;
}

.u-text .u-icon > svg,
.u-btn .u-icon > svg,
.u-table-cell .u-icon > svg,
.u-tab-link .u-icon > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  vertical-align: -0.15em;
}


.u-slider .u-carousel-inner .u-carousel-item.u-active,
.u-slider .u-carousel-inner .u-carousel-item-next,
.u-slider .u-carousel-inner .u-carousel-item-prev {
  display: flex;
}
.u-layout-grid .u-gallery-inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  min-height: 100%;
}
.u-layout-thumbnails,
.u-layout-carousel {
  display: flex;
}
.u-layout-thumbnails .u-carousel-inner,
.u-layout-carousel .u-carousel-inner {
  flex: 1;
}
.u-layout-thumbnails .u-carousel-item,
.u-layout-carousel .u-carousel-item {
  height: 100%;
  flex-direction: column;
}
.u-layout-thumbnails .u-carousel-item.u-active,
.u-layout-carousel .u-carousel-item.u-active,
.u-layout-thumbnails .u-carousel-item.u-carousel-item-next,
.u-layout-carousel .u-carousel-item.u-carousel-item-next,
.u-layout-thumbnails .u-carousel-item.u-carousel-item-prev,
.u-layout-carousel .u-carousel-item.u-carousel-item-prev {
  display: flex;
}
.u-layout-thumbnails .u-carousel-item .u-back-slide,
.u-layout-carousel .u-carousel-item .u-back-slide {
  position: relative;
}

.u-black,
.u-body.u-black,
.u-container-style.u-black:before,
.u-container-layout.u-black:before,
.u-table-alt-black tr:nth-child(even) {
  color: #ffffff;
  background-color: #000000;
}
a.u-link.u-hover-black:hover {
  color: #000000 !important;
}


.u-button-style.u-grey-5,
.u-button-style.u-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #f2f2f2 !important;
}
.u-button-style.u-grey-5:hover,
.u-button-style.u-grey-5[class*="u-border-"]:hover,
.u-button-style.u-grey-5:focus,
.u-button-style.u-grey-5[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-5:active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-5.active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-5,
li.active > .u-button-style.u-button-style.u-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #dadada !important;
}



.u-text-black,
a.u-button-style.u-text-black,
a.u-button-style.u-text-black[class*="u-border-"] {
  color: #000000 !important;
}

.u-link.u-text-grey-70:hover {
  color: #454545 !important;
}
a.u-link.u-text-hover-grey-70:hover {
  color: #4d4d4d !important;
}

.u-text-grey-75 svg,
.u-text-hover-grey-75:hover svg,
.u-button-style:hover > .u-text-hover-grey-75 svg,
.u-button-style.u-button-style.active > .u-text-active-grey-75 svg,
.u-text-hover-grey-75:focus svg {
  fill: #404040;
}
.u-link.u-text-grey-75:hover {
  color: #3a3a3a !important;
}
a.u-link.u-text-hover-grey-75:hover {
  color: #404040 !important;
}
.u-text-grey-80,
a.u-button-style.u-text-grey-80,
a.u-button-style.u-text-grey-80[class*="u-border-"] {
  color: #333333 !important;
}
a.u-button-style.u-text-grey-80:hover,
a.u-button-style.u-text-grey-80[class*="u-border-"]:hover,
a.u-button-style.u-text-grey-80:focus,
a.u-button-style.u-text-grey-80[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-grey-80:active,
a.u-button-style.u-button-style.u-text-grey-80[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-grey-80.active,
a.u-button-style.u-button-style.u-text-grey-80[class*="u-border-"].active {
  color: #2e2e2e !important;
}


        

   
     
        h1:not(.u-title)
        {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2:not(.u-subtitle)
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }