<div class="top-row text-center">
    <h1>Sign In</h1>
</div>

<div class = "container-md">
  <div class="row">
    <div class="d-flex justify-content-center">
      <form action="/sessions" method="post">
        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="form-group d-flex justify-content-center">  
          <input type="submit" value="Sign In">
        </div>
        <div>
        <br>
          <p class="form-group d-flex justify-content-center" style="font-size:12px; color:gray">Don't have an account?
          <p class="form-group d-flex justify-content-center" style="font-size:12px;"><a href="/users/new"> Sign Up</a></p>
        </div>
      </div>
  </div>
</div>